annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
delta-spark==4.0.1
Faker==40.4.0
fastapi==0.129.0
h11==0.16.0
idna==3.11
importlib_metadata==8.7.1
numpy==2.4.2
pandas==3.0.1
py4j==0.10.9.9
pydantic==2.12.5
pydantic_core==2.41.5
pyspark==4.1.1
python-dateutil==2.9.0.post0
six==1.17.0
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.41.0
zipp==3.23.0
